[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pulumi = ">=2.0.0,<3.0.0"
pulumi-gcp = "<4.0.0,>=3.0.0"

[requires]
python_version = "3.7"
